
jobs:
  build:
    docker:
      - image: 'cimg/python:3.8'
    steps:
      - checkout
      - run: echo "Building the application..."

  test:
    docker:
      - image: 'cimg/python:3.9'
    steps:
      - checkout
      - run: echo "Running tests..."

  deploy:
    docker:
      - image: 'cimg/python:3.8'
    steps:
      - checkout
      - run: echo "Deploying the application..."

workflows:
  version: 2
  build-test-deploy:
    jobs:
      - build
      - test
      - deploy

